<h3>Top Heroes</h3>
<div class="grid grid-pad">
    <!--<div *ngFor="let hero of heroes" class="col1-1-4">
        <div class="module hero">
            <h4>{{hero.name}}</h4>
        </div>
    </div>-->

    <a *ngFor="let hero of heroes" class="col1-1-4" [routerLink]="['/detail', hero.id]">
        <div class="module hero">
            <h4>{{hero.name}}</h4>
        </div>
    </a>
    <!-- link parameters array. The array has two elements,
         the path of the destination route and a route parameter set to the value of the current hero's id. -->
</div>